.titulo{text-align: center;}
.calculator {
    width: 300px;
    margin: 0 auto;
    border: 1px solid rgb(243, 3, 3);
    border-radius: 5px;
    padding: 10px;
 }

 #result {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
    background-color: rgb(252, 252, 252);
 }

 .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px; 
 }

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(18, 18, 228);
    border: none;
 }
  button:hover{ 
background-color: rgb(238, 6, 238)240, 255);
  }
  button:active{
background-color: rgb(15, 15, 15);   
  }